
/* .gallery-title{
    color: teal;
    text-align: center;
    margin-bottom: 20px;
}

#gallery{
    margin: 0 auto;
    width: 80%;
    height: max-content;
    display: flex;
    align-items:stretch;
    gap:30px;
    outline: 3px red solid;
  
} */

/* #gallery img{
    width: 300px;
  height: 100%;
} */
 
#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}