
/* .gallery-title{
    color: teal;
    text-align: center;
    margin-bottom: 20px;
}

#gallery{
    margin: 0 auto;
    width: 80%;
    height: max-content;
    display: flex;
    align-items:stretch;
    gap:30px;
    outline: 3px red solid;
  
} */

/* #gallery img{
    width: 300px;
  height: 100%;
} */
