body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e6cfcf;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #b7d3d9;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
  width: 800px;
}

h1 {
  margin-bottom: 20px;
}

.input-label {
  display: block;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #999;
  margin-left: 10px;
}

button {
  padding: 10px 20px;
  background: #c7f000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 30px;
}

button:hover {
  background: #b2d800;
}

.timer {
  display: flex;
  justify-content: space-between;
}

.field {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 150px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #444;
}

.value {
  font-size: 32px;
  font-weight: bold;
}