h3 {
    font-size: 1em;
}

.list,
.menu,
.menu2,
.image,
.button-box,
.box {
    min-width: 45%;
    width: max-content;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #dfffdf;
}

.box {
    text-align: center;
}

.box button {
    color: #ad00e2;
    background-color: #fffac4;
}

button.accent {
    color: green;
}


/*! Приклад паралельних запитів з async/await та конструкцією try...catch */
.box {
    width: 70%;
    text-align: left;
    
}

.btn {
    display: block;
    margin: 0 auto 15px;
}

.user-list li {
    padding: 5px 10px;
    outline: auto;
}

.user-list li:not(:last-child) {
    margin-bottom: 16px;
}

.pagination-buttons {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 20px;
}
